.ipynb_checkpoints
.idea/*
miniflow/.idea/*
MNIST_data/
intro-to-tensorflow/notMNIST_test.zip
intro-to-tensorflow/notMNIST_train.zip
intro-to-tensorflow/notMNIST.pickle
project_2/__pycache__/
project_2/cifar-10-batches-py/
project_2/cifar-10-python.tar.gz
project_2/preprocess_*
project_2/checkpoint
project_2/image_classification.data-00000-of-00001
project_2/image_classification.index
project_2/image_classification.meta
embeddings/checkpoints/
project_3/checkpoint
project_3/params.p
project_3/save.data-00000-of-00001
project_3/save.index
project_3/save.meta
project_3/__pycache__
project_4/checkpoints
transfer-learning/codes
transfer-learning/flower_photos.tar.gz
transfer-learning/flower_photos/
transfer-learning/labels